@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
:root {
  --primary-color: #003b5c;
  --secondary-color: #85714d;
}

.container{
  display: flex;
  padding-top: 2%;
}
.event-creation-container {
  display: flex;
  flex-direction: column;
  flex: auto;

}
.upload-image-section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 250px;
  align-items: center;
  background-color: #d9d9d9;
  justify-content: center;
  margin-bottom: 12px;
}
.upload-image-section p {
  font-size: 16px;
  color: #626262;
}
.upload-image-section:hover {
  cursor: pointer;
  background-color: #2b2b2b;
}

.tag {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.popup-overlay {
  position: fixed;
  border: 4px solid var(--primary-color);
  background-color: white;
  border-radius: 20px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden; 
  padding: 4px 12px;
  max-width: 1400px;
  max-height: 80vh; 
}
/* WebKit-based browsers (Chrome, Safari) */
.popup-overlay::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
}

.popup-overlay::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  margin: 8px 1px;
}

.popup-overlay::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
}

/* Firefox */
.popup-overlay {
  scrollbar-width: thick; /* Thin scrollbar */
 
}

/* Microsoft Edge and modern browsers */
.popup-overlay::-ms-scrollbar {
  width: 12px;
}

.popup-overlay::-ms-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.popup-overlay::-ms-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 3px solid white;
}


.popup-overlay .title {

  padding: 0 8px;
  color: var(--primary-color);
}

.popup-content input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}
.popup-content label{
  cursor: pointer;
}
.popup-overlay .title h2 {
  color: var(--primary-color);
  margin: -2px 0;
}
.popup-overlay .title button:hover {
  cursor: pointer;
  color: red;
}
.popup-content {
  display: grid;
  margin: 0 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2px;
  padding: 0 10px;
}

.popup-footer {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.done-button {
  align-self: flex-end;
  margin: 12px 12px;
}
.blurred {
  filter: blur(4px);
  pointer-events: none;
}

.event-name {
  position: absolute;
  margin-top: -54px;
  border: none;
  padding: 8px;
  border-radius: 0 5px 0 0;
  font-size: 1.6rem;
  width: 200px;
}
.event-name:hover {
  border: 2px solid var(--primary-color);
}
.event-details {
  padding: 0 8px;
  padding-right: 20px;
}

.event-description {
  margin-top: 4px;
  font-size: 1.02rem;
  display: block;
  width: 100%;
  min-height: 100px;
  resize: vertical;
}
.event-details label {
  font-size: 20;
  font-weight: 500;
  text-align: center;
  align-self: center;
}
.event-details .detail-input {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin-top: 10px;
}
.venue-selected{
  height: fit-content;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.add-selected-location{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.add-selected-location h4{
  margin: auto 0;
}
.about-tags{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.about-tags button{
  margin-left: 10px;
}
.chosenTags{
  margin-left: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  height: 40px;
  border-radius: 10px;
}
@media screen and (max-width: 400px) {
  .chosenTags{
    margin-left: 70px;
  }
  .about-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    max-width: 320px;
  }
}

.chosenTags::-webkit-scrollbar {
display: none; /* For Webkit-based browsers */
}
.chosenTag{
  margin: auto 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.8rem;
  padding: 0 6px;
  border-radius: 8px;
  display: block;
  white-space: nowrap; /* Prevent text wrapping */
  text-align: center;
}
.nowrap{
  white-space: nowrap;
}

.event-details input,
textarea {
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  width: 120px;
  height: 27px;
}
.event-details input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.capacity,
.ticket-price {
  text-align: center;
}
.event-date,
.event-time {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1px 2px;
}
.create-button {
  margin: 12px 0;
  width: 140px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  border: none;
  transition: transform 0.2s;
}
.center-button {
  display: flex;
  justify-content: center;
}
.create-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.buttons {
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 130px;
  height: 35px;
  border: none;
  color: white;
  transition: transform 0.2s;
}
.buttons:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.small-font {
  font-size: 11px;
}
.name-logo-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
#upload-img {
  width: 50px;
  height: 50px;
}
.name-logo-title img {
  margin-left: 8px;
  height: 30px;
  width: 30px;
}
.card-container{
  min-width: 246px;
}
.venue-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 3px var(--primary-color);
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  gap: 5px;
}
.venue-details{
  display: flex;
  gap: 20px;
}
.venue-info{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: space-around;
}
.venue-info .logo-name{
  display: flex;
  align-items: center;
  gap: 5px;
}
.centered{
  align-self: center;
}
@media screen and (max-width: 576px) {
  .venue-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .venue-info{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: space-around;
  }
  .venue-info .logo-name{
    display: flex;
    align-items: center;
    gap: 5px;
  }
}


@media screen and (max-width: 376px) {
  .venue-selected{
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}
@media screen and (max-width: 500px) {
  .venue-selected{
    display: flex;
    justify-content: space-between;
    max-width: 320px;
  }
  .venue-selected .add-selected-location{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .venue-selected .add-selected-location h4{
    margin: auto 0;
    text-align: center;
    padding-top: 6px;
  }
  .venue-selected .name-logo-title{
    position: relative;
  }
}


