.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 50%;
    flex: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .sign-in-box {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .sign-in-button {
    width: 100%;
    border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 6px 0px,
        rgba(0, 0, 0, 0.06) 0px 2px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 11px;
  gap: 5px;
  margin: 15px 0;
  }
  
  .google {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
  }
  
  .instagram {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
  }
  
  .twitter {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
  }
  
  .email-input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 40px;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 15px;
  }
  
  .or-divider {
    margin: 15px 0;
    font-weight: bold;
   
  }
  
  .email {
    background: teal;
    color: #fff;
    border: none;
    box-shadow: rgba(5, 63, 58, 0.16) 0px 5px 6px 0px,
    rgba(5, 56, 65, 0.06) 0px 2px 0px 1px;
  
  }
  
  .options {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .EmailSignin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .EmailSignin p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30%;
    margin-bottom: 5%;
    
  }
  @media(max-width: 900px){
    .sign-in-container {
      width: 100%;
     
    }
  }
  