.buy-tickets-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.ticket-selection, .payment-method-selection, .card-details, .icam-number-input {
  margin: 15px 15px;
}

.payment-method-options {
  display: flex;
  justify-content: space-between;
}

.payment-option {
  cursor: pointer;
  padding: 10px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border 0.3s ease;
}

.payment-option img {
  width: 50px;
  height: 50px;
}

.payment-option.selected {
  border: 2px solid #003B5C;
}

.payment-option:hover {
  border: 2px solid #001f33;
}

.card-details input, .icam-number-input input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.confirm-purchase-button {
  background-color: #003B5C;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-purchase-button:hover {
  background-color: #001f33;
}

.confirm-purchase-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.total-price, .available-tickets {
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: bold;
}

.total-price {
  color: #001f33;
}

/* For tablets and small desktops */
@media (max-width: 768px) {
  .buy-tickets-modal {
      max-width: 90%;
      padding: 15px;
  }

  .payment-method-options {
      flex-direction: column;
      align-items: center;
  }

  .payment-option {
      width: 100%;
      margin-bottom: 10px;
  }

  .total-price, .available-tickets {
      font-size: 1.1em;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .buy-tickets-modal {
      max-width: 95%;
      padding: 10px;
  }

  .confirm-purchase-button {
      width: 100%;
      padding: 15px;
  }

  .payment-method-options {
      flex-direction: column;
      align-items: center;
  }

  .payment-option {
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
  }

  .total-price, .available-tickets {
      font-size: 1em;
  }
}

/* Landscape mode for mobile phones */
@media (max-width: 812px) and (orientation: landscape) {
  .buy-tickets-modal {
      max-width: 70%;
      padding: 15px;
  }

  .confirm-purchase-button {
      width: 50%;
      padding: 12px;
  }

  .payment-method-options {
      flex-direction: row;
      justify-content: space-around;
  }

  .payment-option {
      width: 30%;
      margin: 10px;
  }

  .total-price, .available-tickets {
      font-size: 1.1em;
  }
}
