#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
    color: var(--primary-color); 
  }
  
  /* Right section: Logo and title */
  .header-right-section {
    display: flex;
    align-items: center;
  }
  
  .lively-campus-logo {
    height: 40px; /* Adjust logo size */
    margin-right: 10px;
  }
  
  .pointer {
    cursor: pointer;
    color: var(--primary-color); /* Pointer hover color */
  }
  
  /* Middle section: Search bar */
  .header-middle-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  .search-bar {
    display: flex;
    background-color: #ecf0f1; /* Light background for search bar */
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
  }
  
  .search-input {
    width: 20vw;
    max-width: 500px;
    background: none;
    border: none;
    outline: none;
    color: #2c3e50;
    font-size: 16px;
  }
  
  .search-button {
    color: #2c3e50; /* Icon color */
  }
  
  .search-button:hover {
    background-color: transparent;
  }
  
  /* Left section: Notifications and Profile */
  .header-left-section {
    display: flex;
    align-items: center;
  }
  
  .lively-campus-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .lively-campus-notifications {
    margin-right: 20px;
  }
  
  /* Badge customization */
  .MuiBadge-badge {
    right: 5px;
    top: 10px;
    background-color: #e74c3c; /* Red notification badge */
    color: #fff;
  }
