#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: #fff; 
    color: var(--primary-color); 

  
  }
  
  .header-right-section {
    display: flex;
    align-items: center;
  }
  
  .header-right-section .hamburger-logo{
    height: 28px;
    width: 28px;
    margin-right: 10px;
    justify-self: center;
    margin-left: 10px;
  }
  .lively-campus-logo {
    height: 35px; 
    margin-right: 10px;
  }
  
  .pointer {
    cursor: pointer;
    color: var(--primary-color); 
  }
  
  .header-middle-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  .search-bar {
    display: flex;
    background-color:rgba(5, 27, 48, 0.2); /* Light background for search bar */
    border-radius: 20px;
    padding: 3px 14px;
    align-items: center;
  }
  .search-bar::placeholder {
    color: #ffffff;
  }
  
  .search-input {
    width: 20vw;
    max-width: 500px;
    background: none;
    border: none;
    outline: none;
    color: #2c3e50;
    font-size: 16px;
  }
  
  .search-button {
    color: #0080ff; /* Icon color */
  }
  
  .search-button:hover {
    background-color: transparent;
  }
  
  .header-left-section {
    display: flex;
    align-items: center;
  }
  
  .lively-campus-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .lively-campus-notifications {
    margin-right: 20px;
  }
  
  .MuiBadge-badge {
    right: 5px;
    top: 10px;
    background-color: #000000;
    color: #fff;
  }
@media screen and (max-width: 500px) {
  .header-title{
    display: none !important;
  }
}
  @media (max-width: 600px) {
    #header {
 
      background-color:rgba(7, 65, 119, 0.8);
      position: fixed;
      z-index: 1000000;
      top: 0;
      left: 0;
      right: 0;
      backdrop-filter: blur(40px); 
      
    }
  }

