#dashboard-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1%;
  padding-bottom: 15%;
  overflow: hidden;
  flex: 1;
}

.dashboard-events-section {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  flex: 1;
}

.dashboard-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; /* Ensure the container hides overflow */
  width: 100%;
}

.dashboard-slider {
  display: flex;
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.dashboard-card-container {
  display: flex;
  gap: 20px; /* Space between cards */
  transition: transform 0.3s ease;
  width: calc(30% * 3 + 20px); /* Show 3 full cards and half of the fourth */
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  padding: 0.5% 2%;
}

.dashboard-card {
  flex: 0 0 25%; /* Adjust width to fit 3 cards */
  height: 40vh; /* Increased height */
  background: #ffffff;
  border: none;
  border-radius: 8px;
  display: flex;
  
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 6px 1px rgba(121, 121, 121, 0.6);

  overflow: hidden;
  position: relative;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 3%;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2.25s;
  transform-style: preserve-3d;
}
.card-inner.is-flipped {
  transform: rotateY(0.5turn);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  
}
.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(0.5turn);
  z-index: 1;
  background-color: white;
  position: relative;

}
/* Feedback container styles */
.feedback1-container {
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
 padding-top: 2.53rem;
  font-size: 0.875rem;
  transform: translateZ(5rem);
  backface-visibility: hidden;
   align-items: center;

}

.feedback1-title {
  grid-column: span 6;
  font-size: 1.25rem;
  font-weight: bold;
  color: #003B5C;
  transform: translateZ(0deg);
  position: relative;
}
.close-comment-button {
  position: absolute;
 top: -125%;
 right: -15%;
 background-color: transparent;
 border: none;
 color: #003B5C;
 cursor: pointer;
 border-radius: 1rem;
 font-weight: bold;
 padding: 0.4rem;
 font-size: large;
}
.feedback1-textarea {
  background-color: #f1f5f9;
  color: #475569;
  height: 7rem;
  border: 1px solid #cbd5e1;
  grid-column: span 6;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 6.5rem;
  padding-left: 0.5rem;
  resize: none;
  outline: none;
  transition: border-color 0.3s;
  transform: translateZ(0deg);
}

.feedback1-textarea:focus {
  border-color: #475569;
}

.feedback1-buttons {
  display: flex;
align-items: center;
 gap: 30%;;
}


.submit1-button {
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;

 
  border-radius: 0.5rem;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-right: 10%;
  padding-left: 10%;
  transition: background-color 0.3s, color 0.3s;
}
.view-comments{
  color: white;
  background-color: #003B5C;
  border: none;
  padding: 5%;
  border-radius: 5%;
  cursor: pointer;
 
}
.comments-list-container {
  margin-top: 20px;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: absolute;
  top: 0;
  overflow: scroll;
}

.comments-list-container h2 {
  margin: 0 0 10px;
}

.close-comments-button {
  background: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comments-list {
  max-height: 200px;
  overflow-y: auto;
}

.comment {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.comment:last-child {
  border-bottom: none;
}

.feedback-button1:hover,
.submit1-button:hover {
  background-color: #003B5C;
  fill: white;
}

.feedback1-button svg,
.submit1-button svg {
  fill: #475569;
}

.feedback1-button:hover svg,
.submit1-button:hover svg {
  fill: white;
}

.button1-spacer {
  flex-grow: 1;
}

.submit1-button {
  flex-grow: 2;
}

.card-first-row{
  flex: 0.1;
  display: flex;
  
  justify-content: end;
 padding-right: 5%;
  
}
.card-second-row{
  display: flex;
  padding-left: 1%;
  align-items: center;
  flex: 0.2;
  padding-bottom: 2%;
  
}
.card-third-row{
 display: flex;
  flex: 0.5;

}
.card-fourth-row{
  display: flex;
  padding-left: 5%;
  padding-right: 3%;
  justify-content: space-between;
  align-items: center;
  flex: 0.2;
}
.profile-image {
  flex: 0.2;
  max-width: 70px;
  object-fit: contain;
  object-position: center;
}
.event-organizer{
  flex: 0.8;
  padding-left: 5%;
  color: #003B5C;
  font-weight: bold;
}
.event-images{
  width: 100%;
  height: 25vh;
  object-fit: fill;
  
}
.comments-image{
  height: 6.2vh;
  cursor: pointer;
  
 
} 

.dashboard-card:hover {

  box-shadow: 0px 0px 6px 3px rgba(2, 18, 61, 0.3);
 }

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  font-weight: bold;
  font-size: large;
  
}

.arrow-button.left {
  left: -5px; /* Adjust to position correctly */
  border-radius: 55vh;

}

.arrow-button.right {
  right: 10px; /* Adjust to position correctly */
  border-radius: 25vh;
}

.dashboard-slider-container .arrow-button {
  padding: 10px 20px;
  border: none;
  background: #7c7c7c;
  color: white;
  border-radius: 25vh;
  cursor: pointer;
  margin: 5px;
  opacity: 0.5;
}

.dashboard-slider-container .arrow-button:hover {
  background: #003B5C;
  opacity: 1;
}

.details-button{
  border: none;
  background-color: #003B5C;
  border-radius: 0.8vh;
  color: white;
  padding: 3%;
  margin-top: 1%;
}
.details-button:hover{
  opacity: 0.8;
}
.details-button:active{
  background-color: white;
  color: #003B5C;
  border-style: solid;
  border-width: thin;
  border-color: #003B5C;
}
.like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5%;
  transition: background-color 0.3s ease;
}
.dashboard-tags{
  margin-left: 2.5% !important;
  color: #003B5C;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
}
.like-icon {
  fill: rgb(134, 134, 134);
  
  transition: fill 0.3s ease;
}

.like-button.active .like-icon {
  fill: rgb(255, 0, 0);
}

.like-comment{
  display: flex;
  align-items: center;
  position: relative;
}
.like-count{
  position: absolute;
  left: -10%;
  bottom:-25%;
  font-size: 0.8rem;
  font-weight: bold;
  color: #003B5C;
  white-space: nowrap;
}
.comment-count{
  position: absolute;
  right: 10%;
  bottom:-25%;
  font-size: 0.8rem;
  font-weight: bold;
  color: #003B5C;
  white-space: nowrap;
}
.feedback-box {
  position: fixed;
  right: 20px;
  bottom: 25%;
  background-color: #003B5C;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback-box p {
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.feedback-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  resize: vertical;
}

.feedback-form button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #0056b3;
}


@media (max-width: 950px) {
  .dashboard-card-container {
    width: 100%; /* Show only one card at a time */
    gap: 7%; /* Remove gap to fit one card properly */
    
   /* Space between cards */
  transition: transform 0.3s ease;

  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  
  }

  .dashboard-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure the container hides overflow */
    width: 100%;
  }
  .arrow-button {
    padding: 2%;
    
    
  }
  .dashboard-card {
    flex: 0 0 80%; /* Make each card take up the full width */
    height: 42vh; /* Adjust height to fit the screen better */
  }
  .dashboard-card:hover {

    box-shadow: 0px 0px 6px 1px rgba(0, 47, 92, 0.3);
  
  }
  
  .comments-image{
    height: 4.3vh;
    
   
  } 
  #dashboard-main-content{
  
   padding-bottom: 55%;
  }

  

}

/* Responsive adjustments */
@media (max-width: 600px) {
  .dashboard-card-container {
    width: 100%; /* Show only one card at a time */
    gap: 7%; /* Remove gap to fit one card properly */
    
   /* Space between cards */
  transition: transform 0.3s ease;

  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  
  }
 

  .dashboard-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure the container hides overflow */
    width: 100%;
  }
  .arrow-button {
    padding: 2%;
    
    
  }
  .arrow-button.left{
    display: none;
    
  }
  .comments-image{
    height: 5.1vh;
    
   
  } 
}
.dashboard-events-section{
  color:#003B5C ;
}

