.ticketContainer {
   max-width: 350px;
   min-width: 250px;
   margin: 20px;
   padding: 20px;
   box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
   border-radius: 12px;
   z-index: 999;
  }
 
  .detailsContainer div{
    display: flex ;
    gap: 15px;
    margin: 10px 0;
    align-items: center;
  }

  .buttonTicket{
    background-color: #003b5c;
    color: white;
    border-radius: 5px;
    min-width: 70px;
    min-height: 35px;
    margin: 20px 0 5px 0;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
  }
  .buttonTicket:hover{
    background-color: white;
    color: #003b5c;
    border: #003b5c;
    border-style: solid;
    border-width: thin;
  }
  
  .eventName {
    font-size: 1.5rem;
    color: #003b5c;
    margin: 5px 0;
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
  }

  
.line {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

