.ticket-history-container {
  display: flex;
  padding: 20px;
}
.ticket-history {
  display: flex;
  flex-wrap: wrap;
}
.heading {
  margin: 12px 20px;
  color: #003b5c;
  font-size: 1.9rem;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.no-tickets-message {
  text-align: center;
  font-size: 1.5rem;
  color: #ff4d4d;
  margin-top: 50px;
}

.ticket-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ticket-card h2 {
  font-size: 1.25rem;
  margin: 0;
}

.ticket-card p {
  margin: 5px 0;
  color: #555;
}

.ticketView {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.qrImage {
  margin-left: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 980px) {
  .ticket-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .heading {
    text-align: center;

  }
  
}


/* Add styles for the no tickets message */
.no-tickets-message {
  text-align: center;
  color: #ff6347; /* Tomato color */
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.ticket-history {
  padding: 20px;
}


