/* Modal overlay styles */
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

/* Modal content */
.ticketModal {
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease;
  border: 5px solid #003b5c;
}
.ticketHeader{
  margin: 5px 0;
  color: #003b5c;
}
.ticketHeader p{
  margin: 3px 0;
  font-size: 8px;
}

/* Event image */
.eventImage {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}



/* Ticket details */

.ticketDetails p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  font-weight: 600;
}

.infoRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.titleInput{
  display: flex;
  flex-direction: column;
  justify-items: left;
}
.titleInput p{
  font-weight: 600;
}
.titleInput h3{
  margin-top: -8px;
}


.qrCodeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* QR Code */


.qrCode img {
  object-fit: contain;
}

/* Close button */
.closeBtn {
  align-self: end;
  background-color:#003b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  transition: background-color 0.2s ease;
}

.closeBtn:hover {
  background-color: white;
  color: #003b5c;
  border: 1px solid #003b5c;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-height: 700px) {
  .ticketModal {
    margin-top: 50%;
  }
}
