:root {
    --primary-color: #003b5c;
    --secondary-color: #85714d;
  }

.upload-image-section{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.upload-image-section:hover{
    cursor: unset;
}
.event-header{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin-top: -80px;
    text-align: center;
    align-items: center;
}
.event-name-view{
    color: var(--primary-color);
    background-color: white;
    width: fit-content;
    padding: 25px 6px;
    border-radius: 5px;
    margin-left: -3px;
    object-fit: fit-content;
    font-size: 1.3rem;
    padding-right: 20px;
    /* text-wrap: nowrap; */
}
.event-name:hover{
    border: none;
}
.tag{
    position: unset;
}
.event-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
}
.event-description p{
    color: rgb(63, 61, 61);
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}
.info-item{
    display: flex;
    gap: 12px;
    margin: 6px 0;
    align-items: center;
    text-wrap: nowrap;
}
.info-item .icon{
    width: 24px;
    height: 28px;
}
.event-venue-location h3{
    margin: 10px 0 10px 0;
}
.event-venue-location iframe{
    width: 95%;
    height: 300px;
    margin: 0px 0;
}
.event-buy-tickets{
    position: sticky;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #e6e6e6;
    text-wrap: nowrap;
}
.event-buy-tickets p{
    font-size: 18px;
    color: black;
}
.event-buy-tickets button{
   margin-right: 1vw;
}
.map-container iframe{
    border: 3px solid #e6e6e6;
}
@media screen and (max-width: 500px) {
    .eventTags{
      margin-left: 0;
    }
  }